#overlay {
  width: 275px;
  height: 100%;
  position: absolute;
  background: #fff;
  top: 0;
  right: -100%;
  border: 1px solid #E7E7E7;
  border-top: 0px;
  z-index:1500;
  padding-left: 8px;
}

#participacion { position: absolute; bottom: 5px; font-size: 10px;  }
/*! content overlay*/
a.cerrar { display: inline-block; padding: 10px; font-weight: bold; position: absolute; top: 0; left: -20px; background: #fff; border-radius: 5px; cursor: pointer;}

article#overlay {background:white;}
div.wrapper_overlay { border-left: solid 1px #EAEAEA; padding-left: 37px;}
div#res_total { margin-top: 19px;}
div#res_total h3 { margin-bottom: 18px; font-size: 1.5em;}
div#res_total > div {margin-bottom: 27px;}
div#res_total div > div { display: inline-block; font-size: 11px; color: #999;}
div#res_total div > div.mesas_esc { margin-right: 10px;}
div#res_total div span {}


a#comp_paso { text-decoration: none; color: #999; text-transform: uppercase; padding: 12px 0px 1px 0px; font-size:12px;}

a#comp_paso .check { margin: 0 0 0 10px; position: relative; top: -5px; }
    
div#wrapper_ul_overlay { position: relative; overflow-x: hidden; overflow-y: auto; }
ul.overlay{  position: relative; list-style: none;}
ul.overlay li { 
    /*padding-left: 27px;*/ 
    border-bottom: 1px solid #eeeeee; 
    position: absolute;
    left: -9px; 
    cursor: pointer; 
    width: 100%; 

}

ul.overlay li div.bg_li{
    margin:5px 0px;
}

ul.overlay li#li_0131 div.bg_li { 
    border-left:2px solid rgb(23, 150, 215);
}

ul.overlay li#li_0135 div.bg_li { 
    border-left:2px solid rgb(254, 219, 48);
}

ul.overlay li span.radio_bg{
    width: 25px;
    height: 25px;
    background: url("../img/sprite5.svg") -43px -43px no-repeat;
    position: absolute;
    left: 0px;
    top: calc(50% - 15px);
}

ul.overlay li.active span.radio_bg { background-position: -70px -43px}
ul.overlay.filter li { opacity: .3;  background-image: url("../img/pat.png");  }
ul.overlay.filter li.active { opacity: 1; background: #fff; }

body.difpaso ul.overlay li.active span.radio_bg,
body.difpv ul.overlay li.active span.radio_bg{
    background-position: -9px -42px;
}

.clearfix .bg_li {
/*    
    margin-top:5px;
    margin-bottom:5px;
*/} 


/*! wrapper for foto and partido */
ul.overlay li .description {
    width: 70px;
    height: 65px;
    margin: 0px 9px;
    margin-left: 26px;
    display: inline-block;
    border-radius: 50%;
    /* border: 2px solid #fff; */
    float: left;
}

ul.overlay li .description.partido { }
ul.overlay li .candi { font-size: 12px; color: #666;}
ul.overlay li .name { font-size:11px; color:#A9A9A9; font-family: 'suecaslabmedium';}
ul.overlay li .description .candi { text-indent: -5000px}
li .description.foto {
    background: url(../img/sprite_nac_pasook.jpg);
    text-indent: -5000px;
    background-position: -5000px -5000px;/*! se debe setear desde el nombre del candidato */
    line-height: 1.2;
    background-size: 49px;
    background-repeat: no-repeat;
    
}

li .foto.Scioli{
    background-position: 6px -785px;
}

li .foto.Macri{
    background-position: 6px -539px;
}

li .foto.Stolbizer{
    background-position: 6px 8px;
}

li .foto.del_cano{
    background-position: 6px -285px;
}

li .foto.Massa{
    background-position: 6px -600px;
}

li .foto.Rodriguez_Saa{
   background-position: 6px -661px;
}
 

ul.overlay li .above_bar { height: 17px; padding-top: 9px; margin-bottom: 5px; width: 100%;}
ul.overlay li .down_bar { padding-top: 4px;}

ul.overlay li.active .cont_barra .above_bar {
    /*padding-left: 10px;*/
}

ul.overlay li .above_bar .votos, 
ul.overlay li .down_bar .votos{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: lighter;
    color:#000 !important;
}
ul.overlay li .down_bar .porc_text{ font-size: 15px;}

ul.overlay li .cont_barra { width: calc(100% - 110px); float: left; } 
ul.overlay li .cont_barra .barra { height: 12px; position: relative; }
ul.overlay li .cont_barra .barra .porc {
    height: 17px;
    position: absolute;
    top: 0px;
    right: -44px;
    font-weight: lighter;
    font-size: 12px;
}

ul.overlay li .cont_barra .barra div.paso_bar {
    width: 100%; height: 7px; background: rgba(100, 100, 100, .7); 
    position: absolute; top: 5px; left: 0
}
ul.overlay li .cont_barra .barra div.paso_bar .porc_paso{ position: absolute; top: -1px; right: -95px; width: 90px; display: inline-block; font-size: 9px;}
ul.overlay li .cont_barra .barra div.paso_bar .porc_paso .txt_paso { color: #666;}

div.crowd{
    width: 100%;
    border-bottom: 1px solid #dadada;
}

div.crowd div.titulo{
    display: inline-block;
    width: 29%;
    font-family: 'TheSans', Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 19px 10px;
    line-height: 1.2;
    color: #0084b6;
    text-transform: uppercase;
    padding-left: 0px;
}

div.titulo#titu1 {
	color:black;
	line-height: 1.1;
}


body.escuela #overlay.activo div.crowd div.titulo#titu1{
    display: none;
}

body.dibujo #overlay.activo div.crowd div.titulo#titu1{
    display: inherit;
}

body.fuerza .activo div.crowd div.titulo#titu1,
body.difpaso .activo div.crowd div.titulo#titu1,
body.dibujo #overlay.activo div.crowd div.titulo#titu1{
    width: 100%;
    padding: 23px 8px;
    font-size: 15px;
}

div.crowd div.formu{
    position: relative;
    height: 64px;
    display: none;
}

body.escuela #overlay.activo div.crowd div.formu{
    display: inherit;
    transition: all 0.5s;
}

body.dibujo #overlay.activo div.crowd div.formu{
    display: none;
}

div.crowd div.formu div.titulo{
    width: 60%;
    display: inline-block;
    padding-right: 0px;
    margin-left: 10px;
}

div.crowd div.formu div.chequea{
    position: absolute;
    top: 20px;
    right: 13px;
    display: inline-block;
        border: 1px solid #DEDEDE;
    background-color: #f7f7f7;
    padding: 5px 16px;
    border-radius: 35px;
    padding-right: 36px;
    font-size: 12px;
    color: #0084b6;
    background-image: url("../img/sprite5.svg");
    background-repeat: no-repeat;
    background-position: 26px -78px;
    transition: all 0.2s;
    cursor: pointer;
}

div.crowd div.formu.on{
    background-color: #fff !important;
    height: auto;
    border:0px !important;
}

div.crowd div.formu.on div.chequea{
    background-position: 26px -45px;
    border: 1px solid #4BB2FF;
    color: #0084b6 !important;
}

div.crowd div.formu div.mensaje{
    width: 100%;
    height: 0px;
    display: inline-block;
    overflow: hidden;
}

div.crowd div.formu textarea#msg{
    border:1px solid #dadada;
    border-radius: 2px;
    padding: 10px 10px;
    width: 84%;
    height: 30px;
    max-width: 84%;
    max-height: 30px;
    margin:5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.3;
}

div.crowd div.formu input#submit{
    font-family: 'TheSans', Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 4px 25px;
    background-color: #ECECEC;
    /* border: 1px solid #000000; */
    border-radius: 85px;
    margin-left: 36%;
    margin-top: 5px;
    /* color: #fff; */
    font-size: 12px;
}

div.crowd div.formu div.mensaje input#submit:hover {
    background-color: #C0E4FF;
}

div.crowd div.formu.on div.mensaje{
    height: 105px;
}

/* ///// REFERENCIAS ///// */

#overlay div.refes, #overlay div.filtros{
    width: 40%;
    position: absolute;
    bottom:0px;
}

#overlay.activo div.refes{
    width: 100%;
}

#overlay div.refes div.titulo,#overlay div.filtros div.titulo{
    font-size:11px;
    font-family:"suecaslabmedium", Georgia;
}

#overlay div.refes div.contenedor0, 
#overlay div.refes div.contenedor, 
#overlay div.refes div.contenedor2{
    display: none;
}


.escuela #overlay div.refes div.contenedor0{ display: inherit; }
.fuerza #overlay div.refes div.contenedor{ display: inherit; }
.difpaso #overlay div.refes div.contenedor2,
.difpv #overlay div.refes div.contenedor2{ display: inherit; }


#overlay div.refes div.contenedor0 .colores{
  width: 125px;
  height: 46px;
  margin-top: 5px;
  opacity: .7;
}

#overlay div.refes div.contenedor0 div.circ{
  width: 30px;
  height: 30px;
  border:1px solid #000;
  display: inline-block;
  border-radius:100px;
  margin-top: 10px;
  vertical-align: top;
  margin-left: 2px;
}

#overlay div.refes div.contenedor0 div.circ#c2{
  width: 15px;
  height: 15px;
  margin-top: 19px;
}

#overlay div.refes div.contenedor0 div.circ#c3{
  width: 5px;
  height: 5px;
  margin-top: 25px;
}

#overlay div.refes div.contenedor0 p, 
#overlay div.refes div.contenedor p,
#overlay div.refes div.contenedor2 p{
    width: 86%;
    font-size: 12px;
    color: #999;
    margin-top: 15px;
    margin-bottom: 27px;
    line-height: 1.2;
}

#overlay div.refes div.contenedor div.porcentajes{
        width: 40%;
    margin-top: 0px;
    margin-left: -8px;
    position: relative;
    margin-bottom: 20px;
}

#overlay div.refes div.contenedor div.porcentajes svg{
    height: 30px;
    margin-bottom: -15px;

}

#overlay div.refes div.contenedor div.porcentajes div.escala{
    font-size: 12px;
    color:#999;
    position: absolute;
    font-family:"suecaslabmedium", Georgia;
}

#overlay div.refes div.contenedor div.porcentajes div.escala.min{
    top:13px;
    right: -10px;
}

#overlay div.refes div.contenedor div.porcentajes div.escala.max{
    top:85px;
    right: -20px;
}

#overlay div.refes div.contenedor div.porcentajes div.escala.ref{
    top: 35px;
    right: -32px;
    width: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color:#BEBDBD;
    font-size: 11px;
}


#overlay.activo div.refes div.contenedor div.porcentajes{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 40px;
}

#overlay.activo div.refes div.contenedor div.porcentajes div.escala.max{
    top:33px;
    left: 10px;
}

#overlay.activo div.refes div.contenedor div.porcentajes div.escala.min{
        top: 33px;
    left: 147px;
}

#overlay.activo div.refes div.contenedor div.porcentajes div.escala.ref{
       left: 180px;
    top: 12px;
    width: 93px;
    border-left: 1px solid #dadada;
    padding: 5px 15px;
}
#overlay div.refes div.contenedor2 div.perdio_gano{
    width: 100%;
    margin-top: 10px;
}

#overlay div.refes div.contenedor2 div.hex{
    width: 38%;
    display:inline-block;
}

#overlay div.refes div.contenedor2 div.hex.perdio{
    border-right:1px solid #dadada;
    padding-right: 2px;
}

#overlay div.refes div.contenedor2 div.hex p.tit{
    width: 42px;
    margin-top: -2px;
    text-align: center;
    margin-bottom: 10px;
}

#overlay.activo div.refes div.contenedor2 div.hex{
    width: 17%;
}

/* ////// FILTROS /////*/

#overlay div.filtros{
    display: none;
}

#overlay div.filtros div.titulo{
    font-size: 13px;
    width: 80px;
        margin-bottom: 10px;
}


#overlay div.filtros div#filtros_ganadores { 
    width: 100%;
    height: 324px;
    overflow: hidden;
    padding: 0px 10px;
    padding-left: 0px;
    transition: all 0.5s;
    background-color: #fff;
    z-index: 100;
}

div.off#overlay div.filtros div#filtros_ganadores { 
    display: none;
}

#overlay div.filtros div#filtros_ganadores div { 
    width: 88%;
    position: relative;
    line-height: 1.3;
    font-size: 12px;
}


#overlay div.filtros div#filtros_ganadores div.titulo {
    font-size: 11px;
    color: #3FA9F5;
    line-height: 1.3;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

#overlay div.filtros div#filtros_ganadores div.title_filt { 
    width: 80%;
    font-family: "suecaslabmedium", Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}
#overlay div.filtros div#filtros_ganadores div.btn_filt { 
        width: 68%;
    cursor: pointer;
    border-bottom: 1px dotted #dadada;
    color: #999;
    padding: 25px 0px;
    padding-top: 35px;
    padding-right: 30px;
    transition: all 0.5s;
    overflow: hidden;
}

#overlay div.filtros div#filtros_ganadores div.btn_filt.activo {
    padding-bottom:0px; 
}

#overlay div.filtros div#filtros_ganadores div.btn_filt b{
    color:#000;
} 

#overlay div.filtros div#filtros_ganadores div.btn_filt span.circle {
    padding: 7px 7px;
    margin: 0px 5px;
    background-image: url("../img/sprite5.svg");
    background-position: -104px -219px;
    transition: all 0.5s;
    position: absolute;
    top: 10px;
    left: -5px;
    border: 1px solid #dadada;
    border-radius: 20px;
    background-color: #fff;
}

#overlay div.filtros div#filtros_ganadores div.btn_filt span.black {
border:1px solid #999;
}

#overlay div.filtros div#filtros_ganadores div.btn_filt.active span.circle{
    background-position: -124px -219px;
}

#overlay div.filtros div#filtros_ganadores div.btn_filt.active{
    /*background-color: #F9F9F9 !important; */
    cursor:default !important;
    padding-bottom: 0px;
}


#overlay div.filtros div#filtros_ganadores div.btn_filt div.submenu {
    width: 120%;
    height: 0px;
    transition: all 0.7s ease-in-out;
    margin-left: 10px;
    overflow: hidden;
}

#overlay div.filtros div#filtros_ganadores div.btn_filt.active div.submenu {
    height: 180px;
    /*transition: all 1s ease-in-out;*/
}

#overlay div.filtros div#filtros_ganadores div.btn_filt div.submenu div.sub {
    padding: 8px 20px;
    padding-top: 10px;
    font-size: 11px;
    cursor: default;
 
}

#overlay div.filtros div#filtros_ganadores div.btn_filt div.submenu div.sub:last-child {
	border:0px;
}

#overlay div.filtros div#filtros_ganadores div.btn_filt div.submenu div.sub span.circle{
    top: 10px;
    left: -5px;
    background-position: -19px -297px;
    border: 0px;
    border-radius: 0px;
    width: 2px;
    height: 2px;
}

#overlay div.filtros div#filtros_ganadores div.btn_filt div.submenu div.sub.off{
    cursor: pointer;
    color:#999;
}


#overlay div.filtros div#filtros_ganadores div.btn_filt.active div.submenu div.sub.off span.circle{
    background-position: -40px -297px;
    border:1px solid #dadada;
    border-radius: 20px;
    width: 0px;
    height: 0px
}


#overlay.activo div.filtros{
    width: 100%;
}

#overlay.activo div.filtros div#filtros_ganadores { 
    width: 90%;
}

#overlay.activo div.filtros div#filtros_ganadores div.btn_filt {
    width: 97%;
}

#overlay.activo div.filtros div#filtros_ganadores div.btn_filt div.submenu div.sub{
    width: 98%;
}

/* //// AYUDA FILTRO ////  */

#overlay div.filtros div.ayuFilt {
    padding: 7px 10px;
    font-size: 11px;
    color: #3FA9F5;
    border: 1px solid #3FA9F5;
    position: absolute;
    top: 26px;
    left: -174px;
    width: 140px;
    background-color: #fff;
}


#overlay div.filtros div.ayuFilt:before {
    content:"";
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom:7px solid transparent;
    border-left: 7px solid #3FA9F5;
    position: absolute;
    top:12px;
    right:-7px
}

#overlay div.filtros div.ayuFilt1 {
    padding: 7px 10px;
    font-size: 11px;
    color: #3FA9F5;
    border: 1px solid #3FA9F5;
    position: absolute;
    top: -150px;
    left: -174px;
    width: 140px;
    background-color: #fff;
}

#overlay div.filtros div.ayuFilt1:before {
    content:"";
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom:7px solid transparent;
    border-left: 7px solid #3FA9F5;
    position: absolute;
    top:12px;
    right:-7px
}

#overlay.activo div.filtros div#filtros_ganadores div.btn_filt{
    padding-top: 12px;
    padding-left: 23px;
}


