@media screen and (max-width: 640px) {
    
  
    aside{
        display: none;
    }

    div.btn{
        margin-left: 1%;
        border-radius: 10px;
            width: 14.6%;
    overflow: hidden;
    text-overflow:ellipsis;
    }

    .leaflet-left {
        left: 0px;
    }
    
    #help_draw {
        left: 62px;
    }

    section#tools div.contenedor .como_leer, section#tools div.contenedor2 .como_leer,
    section#tools div.contenedor .explica, section#tools div.contenedor2 .explica{
        display: none;
    }

    section#tools{
        height: 50px;
    }

    section#tools div.contenedor .colores,  section#tools div.contenedor2 .colores {
        border: none;
        width: 60%;
        /* margin: 0px auto; */
        position: absolute;
        left: 50%;
        margin-left: -119px;
    }

    section#tools div.contenedor2 .colores {
        width: 222px;
    }

    section#tools div.contenedor .porcentajes {
        margin-top: -18px;
    }


    section#tools div.contenedor2{
        margin-top: -11px;
    }


    section#tools div.contenedor0{
        padding: 0px 0;
    }

    section#tools div.contenedor0 .como_leer {
        margin-top: 0px;
            width: 94px;
            display: none;
    }


    section#tools div.contenedor0 .explica {
            width: 100%;
    font-size: 11px;
    }

    section#tools div.contenedor0 .explica p{
        margin-top: 2px !important;
        margin-left: 5px;
    }

    section#tools div.contenedor0 h2 {
        width: 78px;
    }

   

 
}