html, body {
  margin: 0; padding: 0; max-width: 1360px;
}

.invisible{
  visibility: hidden;
}


.leaflet-popup * {
  line-height: 100%;
}
.leaflet-popup h1 { font-size: 14px; margin: 3px 0 3px 0; padding-bottom:7px; }
.leaflet-popup h2 { color: #999; margin-top: 2px; margin-bottom: 2px; font-size: 1em;}
.leaflet-popup p { margin: 5px 0; }

.spinner {
  left: 50% !important;
  margin-top: -20% !important;
}

.clearfix {
  display: block;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

body {
  margin: 0px;
  font-size: 13px;
  color: #000;
  font-family: arial;
  cursor:default;
    padding-top: 22px;
  border-top:1px solid #dadada; 
  position: relative;
}

div.loader{
  width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 250px;
    margin-left: -30px;
    background-image: url('http://especiales.lanacion.com.ar/multimedia/proyectos/LN_loader/ln.svg');
    background-repeat: no-repeat;
        background-position: 50% 46%;
    background-color: #fff;
    border-radius: 50%;
}

div.loader div.spinner{
  top: 42px !important;
    left: 49% !important;
}

section {
  padding: 0 5px;
}

/* Colores partidos */
.p1, .bk_pro {
  background: #7CC374;
  fill: #7CC374;
}
.p2, .bk_fpv {
  background: #1796D7;
  fill: #1796D7;
}
.p3, .bk_fed {
  background: #D6BBEA;
  fill: #D6BBEA;
}
.p4, .bk_fit {
  background: #D06868;
  fill: #D06868;
}
.p5, .bk_cam {
  background: #FEDB30;
  fill: #FEDB30;
}
.p6, .bk_una {
  background: #D6BBEA;
  fill: #D6BBEA;
}


#pro, #eco, #fpv, #fit, #ayl {
  font-size: 12px;
  float: left;
  margin: 15px 17px 0px 0px;
  border-right: 1px solid #ccc;
  padding-right: 16px;
}


/* NAV */
/*///////*/

nav{
  width: 100%; 
  max-width: 1360px;
  position: relative;
  /*overflow: hidden;*/
  /*background: url("../img/rayas.svg") 0 0 rgb(242,242,242);*/
  height: 50px;
  margin-bottom: 6px;
}

.blanco{
  background-color: #fff;
  width: 100%;
  height: 50px;
  margin: 0px auto;
}

#botones{
  width: 101%;
  height: 50px;
}

div.btn, #menu{
        /* width: 15.6%; */
    /* min-width: 200px; */
    height: 36px;
    padding-left: 80px;
    padding-right: 2%;
    margin-left: 1%;
    font-family: 'suecaslabmedium', georgia;
    font-size: 13px;
    text-align: left;
    color: rgba(0,0,0,.5);
    line-height: 2.8;
    background-image: url("../img/bots.svg");
    background-repeat: no-repeat;
    background-position: -3px -161px;
    float: left;
    text-indent: -21px;
    cursor: pointer;
    border-left: 1px solid #fff;
    border-right: 1px solid #Fff;
    transition: background-color 0.2s;
    border-radius: 20px;
    border: solid #ccc 1px;
    display: inline-block;
}

#escuela{
  background-position: 2px -169px;
  margin-left: 3%;
}

.on#escuela{
 background-position: 2px -369px;
}

#fuerza{
  background-position: 1px -63px;
}

.on#fuerza {
    background-position: 1px -263px;
}

#difpaso, #difpv{
    background-position: -2px -116px;
}

.on#difpaso, .on#difpv {
    background-position: 0px -316px;
}

div.on{
  	background-color: rgb(251, 251, 251) !important;
    border-color: #0084b6;
    /* border-bottom: 2px solid; */
    /* border-left: 1px solid #f1f1f1; */
    /* border-right: 1px solid #F1F1F1; */
    color: #0084b6 !important;
    display: inherit !important;
}


#menu{
    position: absolute;
    width: 44px !important;
    height: 50px;
    top: 0px;
    right: 0px;
    background-position: 0px -152px;
    background-image: url("../img/sprite2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #E8E8E8;
    border-left: 1px solid #ccc;
    cursor: pointer;
    display: none;
        padding: 0px 10px;
}


.buscar{
  width: 37px;
    height: 37px;
    position: absolute;
    right: 10px;
    padding-left: 0px;
    /* background-color: rgb(242,242,242); */
    /* border-right: 1px solid #dadada; */
    border: 1px solid #dadada;
    border-radius: 40px;
    transition: all 0.3s;
    z-index: 1100;
}

div.visible{
  visibility: visible !important;
  position: relative !important;
}

#buscar.activo{
  width: 98%;
  background-color: #f7f7f7 ;
}

.btn:hover{
  background-color: #f1f1f1;
}

div.lupa{
  width: 50px;
  height: 50px;
  background-image: url("../img/bots.svg");
    background-position: 2px -17px;
  float: right;
  cursor: pointer;
}

.leaflet-draw-actions{
  left: 31px !important;
}

.leaflet-draw-actions-top a, .leaflet-draw-actions-bottom a {
    height: 31px !important;
    line-height: 31px !important;
}

ul.ui-autocomplete{
  z-index: 5000;
  font-size: 12px;
  font-family: Arial, helvetica, sans-serif;
  max-height: 400px;
  overflow: auto;
}

ul.ui-autocomplete li{
  padding: 5px 0px !important; 
  cursor:pointer;
}

.ui-autocomplete-loading { 
   background:url('../img/loadersearch.gif') no-repeat right center;
 }


li.ui-state-focus{
  background-color: #f7f7f7 !important;
  background-image: none !important;
  border-radius: 0px  !important;
  border:1px solid #fff!important; 
  border-bottom:1px solid #dadada  !important;
  border-top:1px solid #dadada  !important;
}

.activo div.lupa{
  background-position: 2px -418px;
}

#searchbox{
  float: right;
   width: calc(100% - 89px);
    height: 50%;
    margin: 4px;
    padding: 5px 14px;
    border-radius: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 12px;
}

.activo .busquedaInput{
  width: calc(100% - 93px);
  display: inherit;
}

input{
  border:0px;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}



/* instructivo herramienta dibujo leaflet */
#help_draw {
  color: white;
  position: absolute;
  top: 90px;
  left: 170px;
  width: 117px;
  padding: 9px 12px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  display: none;
  font-size: 11px;
  line-height: 1.2;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid rgba(0, 0, 0, 0.6);
  position: absolute;
  left: -8px;
  top: 17px;
}


/*/////  shortcuts ///// */

aside{
  width: 60px;
  height: 80%;
  position: absolute;
  top:12px;
  left:17px;
  z-index: 1000;
}

aside div.short{
    width: 75px;
    height: 70px;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.5s;
    background-image: url(../img/shortcuts.svg);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-position: 0px 5000px;
    background-size: 146px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
    border: 1px solid #C5C5C5;
    background-color: #fff;
    text-align: center;
    color: #868686;
    padding: 4px 0px;
}

div.short:hover{
  /*margin-left: 5px;*/
  background-color: #fff;
  border:1px solid #ddd;
}

aside div#arg{
      background-position: -70px -372px;
}

aside div#conurbano{
      background-position: -70px -58px;
}

aside div#caba{
      background-position: -71px 21px;
}

aside div#cordoba {
      background-position: -71px -291px;
}

aside div#rosario {
     background-position: -70px -136px;
  
}

aside div#laplata {
    background-position: -71px -213px;  
}

/* fotos candidatos */

.Scioli {
    background-position: 12px -930px;
}

.Macri {
    background-position: 12px -638px;
}

.Stolbizer {
    background-position: 12px 11px;
}

.Rodriguez_Saa {
   background-position: 12px -785px;
}

.del_cano {
    background-position: 12px -339px;
}

.Massa {
    background-position: 12px -710px;
}
  

/*//////// TOOLTIP //////*/

div.ttip_header {
  width: 150px;
  font-size:13px;
  font-weight: bold;
  padding-bottom: 5px;
  line-height:14px;
  margin-bottom: 10px;
  padding-bottom: 0px;
      line-height: 19px !important;
}

div.ttip_body {
  width: 150px;
  font-size:13px;
  line-height:17px;
  color:#444444;
}

div.ttip_body span {
  color:#000000;
  font-weight:bold;
  line-height:14px;
}

div.leaflet-popup-content div.telegramas{
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 30px;
    padding: 5px 10px;
    display: none;
    color:#0084b6;
    text-align: center;
    cursor:pointer;
}

body.escuela div.leaflet-popup-content div.telegramas{
  display: inherit;

}

div.leaflet-popup-content div.telegramas:hover{
    border: 1px solid #2B68A8;
      background-color: #f7f7f7;
}

    
    
/*/////////////////// content ///////////////////////////*/


/*//////// DATA //////*/
#data_container {
  width: 99%;
  overflow: hidden;
  position: relative;
  float: left;
  margin-top: 15px;
  background-color: #fff;
}

/*//////// MAP //////*/
#map_container {
  width: 100%;
  height: 550px;
  overflow: hidden;
  float: left;

}


/** OVERLAY 
#overlay {
  width: 275px;
  height: 100%;
  position: absolute;
  background: #fff;
  top: 0;
  right: -280px;
  border: 1px solid #E7E7E7;
  z-index:1500;
}

#overlay div#line {
  width: 7px;
  height: 100%;
  height: calc(100% - 44px);
  border-right: 1.5px dotted #000;
  position: absolute;
  top: 41px;
  left: -1.5px;
  background: rgba(255, 255, 255, 0.59);
}

.porc_text{
  width: 95%;
  border-bottom: 1px solid #dadada;
  margin-left: 10px;
}

.porc_partido{
  padding: 0px 20px;
}

.porc_text div.porc_partido {
  font-size: 14px;
    color: #000;

}

.porc_text div.porc_partido span {
  color:#0facdd;
  font-weight: bold;
}

.porc_text div.cant_v {
  font-size: 15px;
  color: #999;
  margin:0px 4px 0px 10px;
}

#porPart  {
  font-size: 15px;
  color:#999;
  margin-left:5px;
}  

#overlay ul#list {
  display: inline-block;
  width: 100%;
  height: 471px;
  overflow: auto;
}

#overlay ul li {
  border-bottom: 1px solid #dadada;
  padding: 13px 0;
}

#overlay a.cerrar{
position: absolute;
  background-color: #fff;
  font-family: "TheSans", Arial, Helvetica, sans-serif;
  border-radius: 100px;
  padding: 3px 10px 6px 12px;
  font-size: 16px;
  top: 10px;
  left: -16px;
  cursor:pointer;
  z-index: 1000;
}

#overlay a.cerrar:hover{
  color:#AAAAAA;
}

#overlay ul li.candidato {
  border-bottom: 1px dotted #A0A0A0;
  padding-top: 0px;
  margin-bottom: 3px;
}


#overlay ul li h5 {
  font: 17px 'TheSans', arial;
  padding: 8px 0 2px 15px;
}
#overlay ul li h5 span {
  font: normal 12px arial;
  color: #808080;
  padding-left: 10px;
}
#overlay ul .cont_barra {
  width: 85%;
  width: calc(100% - 170px); 
  margin-top: -10px;
}
.cont_barra .barra {
  width: 0%;
  height: 16px;
  position: relative;
}

.cont_barra .barra .porc {
  position: absolute;
  top: -1px;
  right: -60px;
  font: 18px arial;
  font-weight: bold;
}

#overlay ul li.candidato h5 span {
  padding-left: 0px;
  padding-top: 5px;
  width: 100%;
  display: block;
}

.atribuciones {
  font-size: 10px;
  padding-top: 25px;
  padding-left: 21%;
  float: left;
}

.atribuciones2 {
  float:right;
} 

.cartodb-logo{
  display: none !important;
}

.in_line {
  display: inline;
}
*/

/*///////// POPUP DE CREDITOS ///////////*/
div.creVent{
  width: 100%;
  max-width: 990px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 6000;
  text-align: center;
}


div.creVent div.titu{
  width: 98%;
  padding: 10px;
  padding-bottom: 3px;
  color:#000;
  font-family: "TheSansBold";
  background-color:#fff;
  font-size: 18px;
}


div.creVent{
    width: 100%;
    max-width: 1360px;
    height: 707px;
    position: absolute;
    top:-70px;
    left:0px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 6000;
    text-align: center;
    padding-top: 72px;
}


div.creVent div.titu{
    width: 96%;
    padding: 6px 2%;
    color:#000;
    font-family: "TheSansBold";
    background-color:#F7F7F7;
    font-size: 18px;
    margin-bottom: 10px;
}

div.creVent div.txts{
    margin: 103px auto;
    width: 95%;
    max-width: 400px;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #D8D8D8; 
    position: relative;
    /*display: none;*/
}

div.creVent div.metodo{
    margin: 260px auto;
    padding-bottom: 30px;
}

div.creVent div.txts div.cerrar{
    color:#fff;
     padding: 7px 10px;
    border-radius: 100px;
    background-color: #000;
    position: absolute;
    top:-15px;
    right:-15px;
    cursor: pointer;
}

div.creVent div.txts div.cate{
    font-weight: bold;
    padding: 8px 0px;
    margin-top:20px;
}


div.creVent div.txts div.nombre{
    line-height: 1.5;
    color:#474747;
}

div.creVent div.txts div.nombre a{
    text-decoration: none;
    color:#474747;
    font-weight: bold;
}

div.creVent div.txts div.nombre a:hover{
    color:#2B68A8;
}

/*///////TOOLS REFERENCIAS y SLIDERS////////*/

section#tools{
  width: 99%;
  height: 80px;
  display: inline-block;
  border-top:1px solid #dadada;
  text-align: center;
  position: relative;
  margin-top: 20px;
}

div.sliders{
  width: 30%;
  margin: 10px auto;
  display: inline-block;
  padding: 0px 20px;
}

div.referencias{
  position: absolute;
  top:25px;
  left:10px;
}

div.referencias svg text{
  font-family: Arial, Helvetica, sans-serif
}


section#tools div.contenedor, section#tools div.contenedor0{
  width: 100%; 
  max-width: 1360px;
  position: absolute;
  overflow: hidden;
  height: 50px;
  padding: 10px 0;
  opacity: 0;
  transition:all 0.2s;
  margin-top:5px;
}

body.escuela section#tools div.contenedor0#refEscuelas,
body.fuerza section#tools div.contenedor#refFuerza,
body.difpaso section#tools div.contenedor2#refPaso,
body.difpv section#tools div.contenedor2#refPaso
{
  opacity: 1;
}


section#tools div.contenedor p, section#tools div.contenedor0 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  color: rgb(179,179,179);
  margin:0px;
}

section#tools div.contenedor0 p{
  margin-top: 10px !important;
}

section#tools div.contenedor0 .como_leer, 
section#tools div.contenedor .como_leer, 
section#tools div.contenedor2 .como_leer{
  width: 15%;
    border-right: 1px solid rgb(179,179,179);
    float: left;
    height: 50px;
    /* margin-top: 5px; */
    padding-top: 6px;
}

section#tools div.contenedor0 .como_leer{
  margin-left: 10%;
    padding: 0px;
    margin-top: 7px;
    height: 40px;
}

section#tools div.contenedor0 h2, 
section#tools div.contenedor  h2, 
section#tools div.contenedor2 h2{
  font-family: 'suecaslabmedium', georgia;
  font-size: 11px;
  text-align: right;
  color: #000;
  margin:0px;
  margin-left: 35%;
  width: 100px;
  line-height: 16px;
  padding-top: 6px
}

section#tools div.contenedor0 .explica, 
section#tools div.contenedor .explica, 
section#tools div.contenedor2 .explica {
  width: 37%;
  float: left;
  margin-left: 1%;
      margin-top: 3px;
}

section#tools div.contenedor0 .explica p, 
section#tools div.contenedor .explica p, 
section#tools div.contenedor2 .explica p{
  width: 95%;
  text-align: left;
  margin:0px;
}



section#tools div.contenedor .escala{
  float: left;
    width: 120px;
  height: 60px;
  border-left: 1px solid rgb(179,179,179);
}

section#tools div.contenedor .escala p{
  margin-left: 10%;
margin-top: 17px;
}

section#tools div.contenedor .colores, section#tools div.contenedor0 .colores{
  /*background: url("../img/hexag.svg") no-repeat center -37px #fff;*/
  width: 262px;
    height: 55px;
  float: left;
  border-left: 1px solid rgb(179,179,179);
  position: relative;
}

section#tools div.contenedor0 .colores{
  width: 125px;
  height: 46px;
  margin-top: 0px;
  opacity: .7;
}

section#tools div.contenedor0 .colores div.circ{
  width: 30px;
  height: 30px;
  border:1px solid #000;
  display: inline-block;
  border-radius:100px;
  margin-top: 10px;
  vertical-align: top;
  margin-left: 17px;
}

section#tools div.contenedor0 .colores div.circ#c2{
  width: 15px;
  height: 15px;
  margin-top: 19px;
}

section#tools div.contenedor0 .colores div.circ#c3{
  width: 5px;
  height: 5px;
  margin-top: 25px;
}

section#tools div.contenedor .porcentajes{
  width: 100%;
  height: 30px;
  padding-left: 4%;
  margin-top: 6px;
}
section#tools div.contenedor .porcentajes p{
  float: left;
  margin-top: 7%;
  width: calc(20% - 7px);
}

section#tools div.contenedor .hexagono{
  background: url("../img/hexag.svg") no-repeat 0 8px #fff;
  width: 5%;
  height: 60px;
  float: left;
}

section#tools div.contenedor .flecha{
  background: url("../img/hexag.svg") no-repeat 15px -72px #fff;
  width: 3%;
  height: 60px;
  float: left;
  
}

section#tools div.contenedor2{
  width: 100%; 
  max-width: 1360px;
  position: absolute;
  overflow: hidden;
  height: 50px;
  padding: 10px 0;
  opacity: 0;
  transition:all 0.2s;
  margin-top:5px;
}

section#tools div.contenedor2 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  color: rgb(179,179,179);
}


section#tools div.contenedor2 .escala{
  float: left;
      width: 165px;
  height: 60px;
  border-left: 1px solid rgb(179,179,179);
}

section#tools div.contenedor2 .escala p{
  margin-left: 20px;
    margin-top: 17px
}

section#tools div.contenedor2 .colores{
       width: 236px;
    height: 55px;
  float: left;
  border-left: 1px solid rgb(179,179,179);
}

section#tools div.contenedor2 .hexagono{
  background: url("../img/hexagonos.svg") no-repeat center 3px #fff;
  width: 40px;
  height: 60px;
  float: left;
  margin-right: 20px;
}

section#tools div.contenedor2 .flecha{
  background: url("../img/hexagonos.svg") no-repeat 6px -145px #fff;
  width: 30px;
  height: 60px;
  float: left;
}

section#tools div.contenedor2 .perdio_gano{
  width: 105%;
  height: 60px;
}

section#tools div.contenedor2 .perdio, section#tools div.contenedor2  .gano{
     width: calc(51% - 7px);
  padding: 2px;
  height: 50px;
  position: relative;
}
section#tools div.contenedor2 .perdio{
  /*background: url("../img/hexagonos.svg") no-repeat 82px -45px #fff;*/
  float: left;
  border-right: 1px solid rgb(179,179,179);
}

section#tools div.contenedor2 .gano{
  /*background: url("../img/hexagonos.svg") no-repeat 0 -95px #fff;*/
  float: right;
}

section#tools div.contenedor2 .perdio p{
  text-align: right;
    margin-right: 45px;
    margin-top: 9px;
    /* font-weight: bold; */
    font-size: 11px;
    color:black;

}

section#tools div.contenedor2 .perdio svg{
  position: absolute;
  top:8px;
  right:0px;
}

section#tools div.contenedor2 .gano p{
  text-align: left;
  margin-left: 40px;
  margin-top: 9px;
   /* font-weight: bold; */
    font-size: 11px;
    color:black;
}

section#tools div.contenedor2 .gano svg{
  position: absolute;
  top:8px;
  left:0px;
}


/*///////// COMPARTIR ////////*/

.compartir{
  width: 99%;
  /*background-color: #f2f2f2;*/
  /*background-image: url("../img/bkg.png");*/
  text-align:center; 
  line-height: 1.3;
  display: inline-block;
  border-top:1px solid #dadada;
}

h3{
  width: 115px;
  font-family: 'TheSans', georgia;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  text-align: left;
}


.compartir div.share{
    display: inline-block;
    background-color: #fff;
    padding: 10px 15px;
    margin: 10px 0px;
    margin-top: 15px;
    border:1px dashed #dadada;
}

.compartir div.share div.btnShare, 
.compartir div.share div.btnShare a{
    width: 27px;
    height: 27px;
    float: right;
    margin-left: 2px;
    background-repeat: no-repeat;
    background-image:url(../img/compartir.png); 
    -webkit-transition: background-position .2s;
    -moz-transition: background-position .2s; 
    -o-transition: background-position .2s; 
    transition: background-position .2s;
    cursor:pointer;
}

.compartir div.share div#facebook{
    background-position: 2px 0px;
}

.compartir div.share div#facebook:hover{
    background-position: 2px -28px;
}

.compartir div.share div#twit{
    background-position: -25px 0px;
}

.compartir div.share div#twit:hover{
    background-position: -25px -28px;
}

.compartir div.share div#google{
    background-position: -51px 0px;
}

.compartir div.share div#google:hover{
    background-position: -51px -28px;
}

.compartir div.share a#mail{
    background-position: -77px 0px;
}

.compartir div.share a#mail:hover{
    background-position: -77px -28px;
}

.compartir div.share div#link{
    background-position: -104px 0px;
}

.compartir div.share div#link:hover{
    background-position: -104px -28px;
}



/*///// FOOTER ////*/

footer{
  width: 100%;
  padding:15px 0px;
  max-width: 1400px;
  color:#999;
  border-top:1px solid #dadada;
  float: left;
}

footer p{
  margin: 0px;
    padding: 2px 0px;
    /* border-left: 1px solid #dadada; */
    display: inline-block;
    float: right;
}

footer div.creditos{
    font-size: 12px;
    background-color: #f7f7f7;
    border: 1px solid #dadada;
    padding: 5px 6px;
    float: left;
    border-radius: 3px;
    cursor: pointer;
    margin: -3px;
}

footer div.meto{
    margin-left: 10px;
}

footer div.datos{
   font-size: 12px;
   float: right;
   margin-left: 4px;
   padding-right: 4px;
   font-family: arial;
   border-right: 1px solid #dadada;
}

footer div.datos span{
    color:#000;
    font-weight: bold;
} 

.cartodb-logo{
  display: none !important;
}

#escuelaTelegrama {
	font-size:20px;
	font-family:"suecaslabmedium";
	
}

.telegramas_wrapper{
		height:200px;
		margin-top:35px;
		
}

#telegramas_list {
	font-family:Arial, Helvetica, sans-serif;
	text-indent:none;
	list-style:none;
	
	}
	
#telegramas_list li {
	display:inline-block;
	padding:5px 10px;
	border:solid white 1px;
	}
	
#telegramas_list li:hover{
	background:#f1f1f1;
}

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale{
  display: none;
}

