@media (max-width: 850px) {

    .blanco {
        width: 100%;

    }

    div.btn{
            width: 14.6%;
    height: auto;
    padding: 5px 3%;
    margin-left: 2%;
    font-family: 'suecaslabmedium', georgia;
    font-size: 12px;
    text-align: left;
    color: rgba(0,0,0,.5);
    line-height: 2.8;
    border-radius: 25px;
    text-align: center;
    display: inline-table;
    line-height: 1.2;
    text-indent: 0px;
    }

    #buscar.activo {
        width: 88%;
    }

    section#tools div.contenedor0 h2 {
        margin-left: 1%;
    }

    section#tools div.contenedor0 .explica {
        width: 42%;
    }

    section#tools div.contenedor0 .como_leer {
        margin-left: 0%;
    }

    section#tools div.contenedor0 h2 {
        margin-left: 0%;
        margin-right: 5px;
        width: 85px;
    }

    section#tools div.contenedor0 .explica {
        width: 54%;
    }

    
    

}