@media (max-width: 1100px) {
    
    .blanco{
        width: 84%;
    }

    div.btn, #menu {
        width: 23.6%;
    }
    
    #escuela {
    margin-left: 0%;
}

    section#tools div.contenedor h2, section#tools div.contenedor2 h2{
        margin-left: 0px;
    }

    section#tools div.contenedor .explica, 
    section#tools div.contenedor2 .explica{
        margin-top: 5px;
    }

    section#tools div.contenedor0 .explica{
        margin-top: 0px;
    }

    section#tools div.contenedor .como_leer, section#tools div.contenedor2 .como_leer {
        width: 110px;
    }

    section#tools div.contenedor2 .escala {
        width: 145px;
    }

    section#tools div.contenedor0 h2{
        margin-left: 27%;
    }

}