<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="155px" height="29px" viewBox="0 0 155 29" enable-background="new 0 0 155 29" xml:space="preserve">
<rect y="12.082" id="bar1" fill="#C7EAFB" width="26.62" height="4.75"/>
<rect x="27.958" id="bar2" y="12.082" fill="#A0D7F5" width="26.62" height="4.75"/>
<rect x="55.916" id="bar3" y="12.082" fill="#84C8EF" width="26.62" height="4.75"/>
<rect x="84.023" id="bar4" y="12.082" fill="#66BBE9" width="26.619" height="4.75"/>
<rect x="112.13" id="bar5" y="12.082" fill="#2395D2" width="26.62" height="4.75"/>

<text transform="matrix(1 0 0 1 0 8.582)" fill="#939598" font-size="10">0%</text>
<text transform="matrix(1 0 0 1 14.4531 8.582)" fill="#939598" font-size="10" letter-spacing="4"> </text>
<text transform="matrix(1 0 0 1 21.2988 8.582)" fill="#939598" font-size="10">20 </text>
<text transform="matrix(1 0 0 1 35.2012 8.582)" fill="#939598" font-size="10" letter-spacing="10"> </text>
<text transform="matrix(1 0 0 1 48.7988 8.582)" fill="#939598" font-size="10">40 </text>
<text transform="matrix(1 0 0 1 62.7012 8.582)" fill="#939598" font-size="10" letter-spacing="12"> </text>
<text transform="matrix(1 0 0 1 78.4385 8.582)" fill="#939598" font-size="10">60</text>
<text transform="matrix(1 0 0 1 89.5615 8.582)" fill="#939598" font-size="10" letter-spacing="14"> </text>
<text transform="matrix(1 0 0 1 106.4385 8.582)" fill="#939598" font-size="10">80</text>
<text transform="matrix(1 0 0 1 117.5615 8.582)" fill="#939598" font-size="10" letter-spacing="1"> </text>
<text transform="matrix(1 0 0 1 122.3154 8.582)" fill="#939598" font-size="10">100</text>
</svg>