<div class="hamburguesa">VER FILTROS</div>

<div class="fil filHome">
    <button class="active" id="home">Ganadores por escuela</button>
</div>

<div class="fil cate">
    <div class="tit">FILTRAR POR</div>
    <div class="cat" id="cat1">VOTOS OBTENIDOS</div>
    <div class="cat">DIFERENCIA CON PASO</div>
    <div class="flecha" id="f1"></div>
    <div class="flecha" id="f2"></div>
</div>
<div class="fil bk_fpv">
    <h2 style="border-color:#1796D7">FPV</h2>  
    <button id="false_0131" class="set_status_app" data-partido="0131"></button>
    <button id="true_0131" class="set_status_app paso" data-partido="0131"></button>
</div>
<div class="fil bk_pro">
    <h2 style="border-color:#7CC374">Progre.</h2>  
    <button id="false_0132" class="set_status_app" data-partido="0132"></button>
    <button id="true_0132" class="set_status_app paso" data-partido="0132"></button>
</div>
<div class="fil bk_fed">
    <h2 style="border-color:#D6BBEA">C. Fed.</h2>  
    <button id="false_0133" class="set_status_app" data-partido="0133"></button>
    <button id="true_0133" class="set_status_app paso" data-partido="0133"></button>
</div>
<div class="fil bk_cam">
    <h2 style="border-color:#FEDB30">Camb.</h2>  
    <button id="false_0135" class="set_status_app" data-partido="0135"></button>
    <button id="true_0135" class="set_status_app paso" data-partido="0135"></button>
</div>
<div class="fil bk_fit">
    <h2 style="border-color:#D06868">IZQ</h2>  
    <button id="false_0137" class="set_status_app" data-partido="0137"></button>
    <button id="true_0137" class="set_status_app paso" data-partido="0137"></button>
</div>
<div class="fil bk_una">
    <h2 style="border-color:#D6BBEA; margin-right:0px">UNA</h2>
    <button id="false_0138" class="set_status_app" data-partido="0138"></button>
    <button id="true_0138" class="set_status_app paso" data-partido="0138"></button>
</div>