<div class="DC-embed" data-version="1.0" style="font-size:10pt">
    <!-- <p><a class="DC-embed-resource" href="http://www.documentcloud.org/documents/<%- vh.get_dc_complete_id(data)%>.html#document/p1" title="Telegrama <%- vh.get_key_telegrama(data)%> en DocumentCloud en una ventana nueva o tab" target="_blank">Elecciones 2015: Telegrama <%- vh.get_key_telegrama(data)%></a></p> -->
    <img src="https://assets.documentcloud.org/documents/<%- vh.get_dc_id(data)%>/pages/<%- vh.get_key_telegrama(data)%>-p1-normal.gif?1448489927" alt="Telegrama Ballottage <%- vh.get_key_telegrama(data)%>" style="border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;max-width:700px;">
    <br><p><a target="_blank" href="<%- vh.get_url(data) %>">
        Telegrama <%- vh.get_mesa(data)%> en la web de la Dirección Nacional Electoral
    </a></p>
</div>
<script src="//assets.documentcloud.org/embed/loader/enhance.js"></script>